<h1>Welcome</h1>

<div>
	<%= link_to "Products", products_path %>
</div>

<div>
	<%= link_to "Solar Calculator", calculators_path %>
</div>

<div>
	<%= link_to "Administration", admin_dashboard_path %>
</div>