<h1>Modifier</h1>

<%= image_tag(@modifier.image) %>
<p>
	<strong>Modifier Type: </strong>
	<%= @modifier.mod_type %>
</p>

<p>
	<b>Amperage:</b>
	<%= @modifier.amperage %>
</p>


<%= link_to "Back", modifiers_path %>